#
# MIT License
#
# (C) Copyright 2025 Hewlett Packard Enterprise Development LP
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
---
# Updates CEPH haproxy configuration with latest information after performing CEPH zoning
# and also update ceph.conf on all storage nodes with latest configuration.

- name: Generate ceph minimal configuration
  command:
    argv:
      - ceph
      - config
      - generate-minimal-conf
  register: ceph_conf_min

- name: Update ceph.conf with minimal configuration
  copy:
    content: "{{ ceph_conf_min.stdout }}\n"
    dest: /etc/ceph/ceph.conf
    mode: "0644"
    backup: true

- name: Copy ceph_haproxy.sh script to the target machine
  copy:
    src: ceph_haproxy.sh
    dest: /tmp/ceph_haproxy.sh

- name: Execute the ceph_haproxy script on the target machine
  shell: |
    chmod +x /tmp/ceph_haproxy.sh && /tmp/ceph_haproxy.sh
  register: ceph_haproxy_result
  changed_when: "'hosts_found=true' in ceph_haproxy_result.stdout"

- name: Cleanup - Remove ceph_haproxy.sh from the target machine
  file:
    path: /tmp/ceph_haproxy.sh
    state: absent

- name: Check if updated haproxy configuration exists
  stat:
    path: /etc/haproxy/haproxy_temp.cfg
  register: haproxy_temp
  when: "'hosts_found=true' in ceph_haproxy_result.stdout"

- name: Replace haproxy.cfg with updated config
  copy:
    src: /etc/haproxy/haproxy_temp.cfg
    dest: /etc/haproxy/haproxy.cfg
    mode: "0644"
    backup: true
  register: haproxy_cfg_copy
  when:
    - "'hosts_found=true' in ceph_haproxy_result.stdout"
    - haproxy_temp.stat.exists

- name: Ensure haproxy service is enabled
  service:
    name: haproxy
    enabled: true
  when: "'hosts_found=true' in ceph_haproxy_result.stdout"

- name: Restart haproxy service to apply new configuration
  service:
    name: haproxy
    state: restarted
  when: haproxy_cfg_copy is defined and haproxy_cfg_copy.changed
